$base-font-family-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

//link's color
$white:     #fff;
$black:     #000;
$blue:      #185AC8;
$blue-2:    #4285F4;
$blue-3:    #356AC3;
$blue-4:    #2566AF;
$grey:      #929292;
$grey-2:    #D9D9D9;
$grey-3:    #F0ECEC;
$grey-4:    #767676;
$grey-5:    #ECECEC;
$grey-6:    #EFEFEF;
$grey-7:    rgba(242, 242, 242, 0.8);
$grey-8:    #E9EEF1;
$grey-9:    rgba(233, 238, 241, 0.6);
$grey-10:   rgba(255, 255, 255, 0.6);
$grey-11:   #e3e3e3;
$orange:    #FFA101;
$yellow:    #FFCA43;
$red:       #E81010;

//headings
$h1-font-size: 38px;
$h2-font-size: 28px;
